body {
    background-image: linear-gradient(white, black);
}

header img {
    width: 100%; /* 100% of the width of the viewport */
    height: auto; /* Maintain the aspect ratio */
    max-width: 800px;
}

nav {
    background-color: white;
    border-top: solid 0.3em #000;
    border-bottom: solid 0.3em #000;

    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li {
    background-color: black;
    padding: 1em;
    min-width: 12%;
    margin: 0.25em;

    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

figure {
    text-align: center;
    background-color: white;
    margin: 0;
}

figure img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

main {
    background-color: white;
    margin-top: 1em;
    border-top: solid 0.3em #000;
    border-bottom: solid 0.3em #000;
    border-radius: 1em;
}

footer {
    background-color: white;
    margin-top: 1em;
    border-top: solid 0.3em #000;
    border-bottom: solid 0.3em #000;
    border-radius: 1em;
}

/* Mobile query */
@media screen and (max-width: 639px) {
    nav ul li {
        border-radius: 1em;
    }

    .tablet {
        display: none; /* Hide the figure image for mobile viewport */
    }
}
/* End mobile */

/* Tablet query */
@media screen and (min-width: 640px) {
    nav ul li {
        display: inline-block; /* Display the list items in a row */
        border-radius: 1em;
    }
}
/* End tablet */

/* Desktop query */
@media screen and (min-width: 1024px) {

    header {
        text-align: left; /* Align the header to the left */
    }

    header img {
        width: auto;
        height: 15em;
    }

    nav {
        float: right; /* Float the nav bar to the right */
        margin-top: -10em; /* Move the nav bar up */
        width: 55%;
    }
    nav ul li {
        display: inline-block; /* Display the list items in a row */
        border-radius: 1em;
    }
}
