* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f9edc8d4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 5em;
}

h1 {
    margin: 20px 0 20px 0;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin: 10px 0;
    color: #505050;
}