h2 {
    color: yellow;
    background-color: red;
    font-family: Arial, "Comic Sans", Calibri;
    font-size: 3em; /* Font sized relative to the parent element */
    text-align: center; /* This will align elements in the center */
}

h1 {
    background-color: white;
}

#container {
    color: yellow;
}

.accent {
    background-color: yellow;
    color: gray;
}

body main div {
    color: white;
}

footer {
    background-color: rgb(23, 216, 126);
    color: #6920dd;
}